<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C8.pkg</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2DF21C4848D9FDC3050CACDE3B2F12095546070D</string>
				<key>dateExpires</key>
				<string>2026/2/22</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF21C4848D9FDC3050CACDE3B2F12095546070D</string>
						<key>dateExpires</key>
						<string>2026/2/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>com.apple.application-identifier</key>
						<string>H6QM33ZBQX.com.leadingfox.SdpDesktopApp.ptp</string>
						<key>com.apple.developer.networking.networkextension</key>
						<array>
							<string>packet-tunnel-provider</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>H6QM33ZBQX</string>
						<key>com.apple.security.app-sandbox</key>
						<true/>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>H6QM33ZBQX.ZitiPacketTunnel.group</string>
						</array>
						<key>com.apple.security.network.client</key>
						<true/>
						<key>com.apple.security.network.server</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>H6QM33ZBQX.com.leadingfox.SdpDesktopApp</string>
						</array>
					</dict>
					<key>name</key>
					<string>PacketTunnelProvider.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>fa44366b-d2ec-4c81-86dc-a1e88aaa7187</string>
						<key>dateExpires</key>
						<string>2026/2/22</string>
						<key>name</key>
						<string>Mac Team Store Provisioning Profile: com.leadingfox.SdpDesktopApp.ptp</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6QM33ZBQX</string>
						<key>name</key>
						<string>Leadingfox LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.48</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.application-identifier</key>
				<string>H6QM33ZBQX.com.leadingfox.SdpDesktopApp</string>
				<key>com.apple.developer.networking.networkextension</key>
				<array>
					<string>packet-tunnel-provider</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>H6QM33ZBQX</string>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>H6QM33ZBQX.ZitiPacketTunnel.group</string>
				</array>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>H6QM33ZBQX.com.leadingfox.SdpDesktopApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>C8.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>43e020ba-ddd5-45f2-b45c-a6cac40a5726</string>
				<key>dateExpires</key>
				<string>2026/2/22</string>
				<key>name</key>
				<string>Mac Team Store Provisioning Profile: com.leadingfox.SdpDesktopApp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H6QM33ZBQX</string>
				<key>name</key>
				<string>Leadingfox LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>2.48</string>
		</dict>
	</array>
</dict>
</plist>
