<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C8.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2DF21C4848D9FDC3050CACDE3B2F12095546070D</string>
				<key>dateExpires</key>
				<string>2026/2/22</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF21C4848D9FDC3050CACDE3B2F12095546070D</string>
						<key>dateExpires</key>
						<string>2026/2/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>H6QM33ZBQX.com.leadingfox.SdpMobileApp.ptp</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.networking.networkextension</key>
						<array>
							<string>packet-tunnel-provider</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>H6QM33ZBQX</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.leadingfox.SdpMobileApp</string>
						</array>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>H6QM33ZBQX.com.leadingfox.SdpMobileApp</string>
						</array>
					</dict>
					<key>name</key>
					<string>MobilePacketTunnelProvider.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>24966f1d-05da-4b0d-a1a4-ed5b03c1bea5</string>
						<key>dateExpires</key>
						<string>2026/2/22</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.leadingfox.SdpMobileApp.ptp</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6QM33ZBQX</string>
						<key>name</key>
						<string>Leadingfox LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.48</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF21C4848D9FDC3050CACDE3B2F12095546070D</string>
						<key>dateExpires</key>
						<string>2026/2/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>H6QM33ZBQX.com.leadingfox.SdpMobileApp.share</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>H6QM33ZBQX</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.leadingfox.SdpMobileApp</string>
						</array>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>H6QM33ZBQX.com.leadingfox.SdpMobileApp</string>
						</array>
					</dict>
					<key>name</key>
					<string>MobileShare.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>bf802c43-3af1-41b6-a5e6-b2cada85144a</string>
						<key>dateExpires</key>
						<string>2026/2/22</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.leadingfox.SdpMobileApp.share</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6QM33ZBQX</string>
						<key>name</key>
						<string>Leadingfox LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.48</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H6QM33ZBQX.com.leadingfox.SdpMobileApp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array/>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.networking.networkextension</key>
				<array>
					<string>packet-tunnel-provider</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>H6QM33ZBQX</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array/>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>H6QM33ZBQX.com.leadingfox.SdpMobileApp</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.leadingfox.SdpMobileApp</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>H6QM33ZBQX.com.leadingfox.SdpMobileApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>C8.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8385e0c3-7ad5-40a4-b0de-d92ad67512fd</string>
				<key>dateExpires</key>
				<string>2026/2/22</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.leadingfox.SdpMobileApp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H6QM33ZBQX</string>
				<key>name</key>
				<string>Leadingfox LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>2.48</string>
		</dict>
	</array>
</dict>
</plist>
