// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEVELOPMENT_TEAM = XXXXXXXXXX

PRIVACY_POLICY_URL = http:/$()/...
TERMS_URL = http:/$()/...
HELP_URL = http:/$()/...
SUPPORT_EMAIL = help@...

MAC_APP_IDENTIFIER = com.leadingfox.SdpDesktopApp
MAC_EXT_IDENTIFIER = com.leadingfox.SdpDesktopApp.ptp

IOS_APP_IDENTIFIER = com.leadingfox.SdpMobileApp
IOS_EXT_IDENTIFIER = com.leadingfox.SdpMobileApp.ptp
IOS_SHARE_IDENTIFIER = com.leadingfox.SdpMobileApp.share

#include? "workspace-settings-overrides.xcconfig"
